*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}
a{
   
    text-decoration: none;
    color: inherit;
    display: block;
}
img{
    width: 100%;
  
  vertical-align: middle;
}
.clearfix::after{
    content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
input{
    border: none;
    outline:none;
}
ul{
    list-style: none;
  }