@mixin jd-sprites($x,$y){
    background-image: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: $x $y;
}
$jd-red:#c91523;
.view {
  color: #666;
  margin-bottom: 100px;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    // background-color: rgba(201, 21, 35, 1);
    position: fixed;
    top: 0;
    z-index: 10;
    >a{}
    >.search{
        flex: 1;
        padding: 5px 0;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            @include jd-sprites(-60px,-110px );
            width: 20px;
            height: 20px;
            top:12px;
            left: 7px;
        }
        input{
            width: 100%;
            height: 40px;
            border-radius: 20px;
            padding-left: 25px;
        }
    }
    >.logo{
        width: 70px;
        @include jd-sprites(0,-110px );
        background-clip: content-box;
        background-origin: content-box;
        padding: 8px 7px;
    }
    .login{
        // padding: 10px;
        width: 50px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
    }
}
nav{
    display: flex;
    flex-wrap: wrap;
    a{
        width: 25%;
        padding: 5px 0;
        text-align: center;
        img{
            width: 50%;
        }
        p{
            font-size: 14px;
        }
    }
}
.sec_kill{
   .kill_title{
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
    .clock{
        width: 18px;
        height: 22px;
        @include jd-sprites(-85px,-110px);
    }
    .kill_font{
     color: $jd-red; 
    }
    .timer{
        >span{
            background-color: #000000;
            color: #fff;
            &:nth-child(3n){
                background-color:#fff;
                color: #000;
            }
        }
    }
   }
   .kill_content{
       display: flex;
       justify-content: space-around;
       padding: 10px;
       text-align: center;
       >a{
        
           position: relative;
           img{
               
           
            //    width: 33.3%;
           }
           span{
            font-size: 14px;
            background-color: orange;
            border-radius: 50%;
            position: absolute;
            top: 72px;
            left:68px;
            padding: 5px;
            color:#fff;
           }
           .price{               
               color:$jd-red;
           }
       }
   }
}
.img618{
    position: relative;
   >.bigimg{
    
   } 
   ul{
    //   display: flex;
    //   justify-content: space-around;
    //   list-style: none;
    position: absolute;
    left: 0;
    bottom: 5px;

      li{
        float: left;
        width: 50%; 
        padding: 0 3px;
      } 
   }
}
.fes_content{
  a:nth-child(-n+3){
      width: 33.3%;
      float: left;
  }
  a:nth-last-child(-n+4){
    width: 50%;
    float: left;
}
}
.goods-title{
    color: $jd-red ;
    padding: 5px 3px;
}
.market{
    
    >a{
        width: 50%;
        float: left;
    }
}
.theme{
    .theme_content{
         >a:nth-child(-n+2){ 
        width: 50%;
        float: left;
    }
    >a { 
        width: 25%;
        float: left;
    }
    >a:nth-child(5){
        clear: both;
    }  
    }
 
} 
.remmend{
    .remmend_img{
        display: flex;
        justify-content: space-around
    }
    >a{
        // width: 33.3%;
        float: left;
    }
}
.guess{
    padding: 5px;
    
    .guess_title{
        display: flex;
        justify-content: space-between;
        >a{
            color: red;
            font-size: 14px;
            >span{
                display: inline-block;
                width: 18px;
                height: 18px;
        
            }
        }
        .guess_title_l{
            font-weight: 600;
        }
        
    }
    ul{
        li{
            // display: flex;
            float: left;
            width: 50%;
           padding: 5px 5px;
          
           .iitem{
                display: flex;
            justify-content: space-between;
                
            span{
                color:$jd-red;
            }
            .xiangsi{
                // // float: left;/
                // display: inline-block;
                border: 1px solid #ccc;
                font-size: 13px;
            }
           }
           
           >a:nth-last-child(1){
               
                height: 38px;
                font-size: 13px;
                overflow: hidden;
                border-bottom: 1px solid #666;
                // background-color: red;
                //用户点击一次后,会等待一段时间才会检测是否点击第二次,这就是延迟的原因.不管有没有下次点击,都会等待一段时间
            }
        }
    }
   
}
.load{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.footer{
    padding: 5px 5px;
    .direct{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;

      a{
          font-size: 16px;
           text-align: center; 
           border-right: 1px solid #ccc;
           width: 25%;
      }
      a:nth-last-child(1){
          border:none;
      }  
    }
    .app{
        display: flex;
        justify-content: space-around;
        padding:  5px 0;
        border-bottom: 1px solid #ccc;
       >a{
        span{
            display: inline-block;
            background-image: url(../images/jd-sprites.png);
            background-size: 200px 200px;
            background-position: 0 -70px;
            background-color: #fff;
             width: 33px;
             height: 33px;
             
         }
        //  p{
        //      text-align: center;
        //  }
       }
    }
    .copyright{
        border-bottom: 1px solid #666;
        // padding-bottom: 60px;
        >p{
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 14px;
            
        }
    }
    

} 
.bdm{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
   >img{
    width:78px;
   }
   
}      

